.container {
}

.form {
  display: flex;
  flex-direction: row;

  margin-bottom: 20px;
  .label {
    margin-bottom: 10px;
  }

  .input {
    padding: 10px;
    border: 1px solid #ccc;
    min-width: 200px;
  }

  button {
    background-color: #282c34;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: orange;
    }
  }
}
.list {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  column-gap: 30px;
  padding: 0;

  .item {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
}

.link {
  position: relative;
  color: black;

  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    color: orange;
  }

  img {
    width: 100%;
  }

  span {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #282c34;
    color: orange;
  }
}
